.grid_even_column{
    background-color: #808000;
    color: white;
}
.grid_header .grid_column_3{
    background-color: blue;
}

h1{
    text-align: center;
    color: blue;
}
table{
    color: black;
}
.grid_header{
    color: red;
    background-color: green;
    font-style: italic;
    font-weight: bold;
}
.grid_odd_row{
    background-color: RGB(237,227,205);
}
.grid_row_1,.grid_row_2,.grid_row_5,.grid_row_6{
    background-color: yellow;
}


/*
CSS class	Meaning	For HTML tags
grid_col_${col-index}	Available for every column. ${col-index} is the index of column, starting from 1.	<th>,<td>
grid_row_${row-index}	Available for every row. ${row-index} is the index of row, starting from 1.	<tbody>
grid_odd_col	Available for columns with odd indexes.	<th>,<td>
grid_odd_row	Available for rows with odd indexes	<tbody>
grid_even_col	Available for columns with even indexes.	<th>,<td>
grid_even_row	Available for rows with even indexes	<tbody>
grid_header	Available only for the header row	<thead>
grid_row	Available for all grid content rows
*/